<h2>User Information</h2>

<table class="table table-striped">
    <tr>
        <th class="col-sm-3">Name</th>
        <td><b>{{$ctrl.parent.firstName}} {{$ctrl.parent.lastName}}</b></td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{$ctrl.parent.address}}</td>
    </tr>
    <tr>
        <th>City</th>
        <td>{{$ctrl.parent.city}}</td>
    </tr>
    <tr>
        <th>Telephone</th>
        <td>{{$ctrl.parent.telephone}}</td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-default" ui-sref="ownerEdit({ownerId: $ctrl.parent.id})">Edit User</a>
        </td>
        <td>
            <a ui-sref="petNew({ownerId: $ctrl.parent.id})" class="btn btn-default">Add Patient</a>
        </td>
    </tr>
</table>

<h2>Visits</h2>

<table class="table table-striped">
    <tr ng-repeat="child in $ctrl.parent.pets track by child.id">
        <td valign="top">
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd><a ui-sref="petEdit({ownerId: $ctrl.parent.id, petId: child.id})">{{child.name}}</a></dd>
                <dt>Birth Date</dt>
                <dd>{{child.birthDate | date:'yyyy MMM dd'}}</dd>
                <dt>Gender</dt>
                <dd>{{child.gender}}</dd>
                <dt>Category</dt>
                <dd>{{child.type.name}}</dd>
            </dl>
        </td>
        <td valign="top">
            <table class="table-condensed">
                <thead>
                <tr>
                    <th>Visit Date</th>
                    <th>Doctor</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tr ng-repeat="visit in child.visits track by visit.id">
                    <td>{{visit.date | date:'yyyy MMM dd'}}</td>
                    <td>{{visit.doctor}}</td>
                    <td>{{visit.description}}</td>
                </tr>
                <tr>
                    <td>
<!--                        <a ui-sref="petEdit({ownerId: $ctrl.parent.id, petId: child.id})">Edit Pet</a>-->
                    </td>
                    <td>
                        <a ui-sref="visits({ownerId: $ctrl.parent.id, petId: child.id})">Add Visit</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>



