<h2>Users</h2>

<form onsubmit="javascript:void(0)" style="max-width: 20em; margin-top: 2em;">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Filter" ng-model="$ctrl.query" />
    </div>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th class="hidden-sm hidden-xs">Address</th>
        <th>City</th>
        <th>Telephone</th>
        <th class="hidden-xs">Child</th>
    </tr>
    </thead>

    <tr ng-repeat="parent in $ctrl.owners | filter:$ctrl.query track by parent.id">
        <td>
            <a ui-sref="ownerDetails({ ownerId: parent.id })">
                {{parent.firstName}} {{parent.lastName}}
            </a>
        </td>
        <td class="hidden-sm hidden-xs">{{parent.address}}</td>
        <td>{{parent.city}}</td>
        <td>{{parent.telephone}}</td>
        <td class="hidden-xs"><span ng-repeat="child in parent.pets track by child.id">{{child.name + ' '}}</span></td>
    </tr>
</table>
